.extension-title > img {
    width: 40px
}

img.extension-list {
    height: 40px;
    margin: 5px;
}

.nav-img {
    width: 20px
}

.extension-title {
    text-align:left;
}

.tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top: none; /* Remove the top border */
    padding: 10px;
}