{#include base}
    {#content}
    <div class="row row-cards-pf">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="card-pf card-pf-utilization">
                <h2 class="card-pf-title extension-title">
                    {#if extension.icon}<img src="{extension.icon}" />{/if}
                    <a href="https://marketplace.visualstudio.com/items?itemName={extension.name}" target="_blank">
                        {extension.displayName.or(extension.name)}
                    </a>
                    <span class="card-pf-utilization-card-details-line-1"><a href="{extension.name}.csv" class="pficon-export" title="Raw Data (CSV)"></a></span>
                </h2>
                <div class="card-pf-body">
                    <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#installs" data-tab="installs" >Installs</a></li>
                            <li><a data-toggle="tab" href="#total_installed" data-tab="total_installed" >Total downloads</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="installs" data-title="Installs" class="tab-pane fade in active">
                            <p class="card-pf-utilization-details">
                                <span class="card-pf-utilization-card-details-count" id="installs-value"></span>
                            </p>
                            <div class="chart-pf-sparkline" id="installs-container">Loading...</div>
                        </div>
                        <div id="total_installed" data-title="Total downloads" class="tab-pane fade">
                            <p class="card-pf-utilization-details">
                                <span class="card-pf-utilization-card-details-count" id="total_installed-value"></span>
                            </p>
                            <div class="chart-pf-sparkline" id="total_installed-container">Loading...</div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div><!-- /row -->
    {/}

    {#scripts}
      {#bundle tag="script" key="details" /}
      <script type="module">
        jQuery(document).ready(async function (){ 
            return setupCharts("{extension}");
        });
      </script>
    {/}
{/}