{#include base}
    {#content}
    <div class="row row-cards-pf">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="card-pf card-pf-utilization">
                <h2 class="card-pf-title extension-title">
                    {#if extension.icon}<img src="{extension.icon}" />{/if}
                    <a href="https://marketplace.visualstudio.com/items?itemName={extension.name}" target="_blank">
                        {extension.displayName.or(extension.name)}
                    </a>
                    <span class="card-pf-utilization-card-details-line-1"><a href="{extension.name}.csv" class="pficon-export" title="Raw Data (CSV)"></a></span>
                </h2>
                <div class="card-pf-body">
                    <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#installs" data-tab="installs" >Installs</a></li>
                            <li><a data-toggle="tab" href="#total_installed" data-tab="total_installed" >Total downloads</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="installs" data-title="Installs" class="tab-pane fade in active">
                            <p class="card-pf-utilization-details">
                                <span class="card-pf-utilization-card-details-count" id="installs-value"></span>
                            </p>
                            <div class="chart-pf-sparkline" id="installs-container">Loading...</div>
                        </div>
                        <div id="total_installed" data-title="Total downloads" class="tab-pane fade">
                            <p class="card-pf-utilization-details">
                                <span class="card-pf-utilization-card-details-count" id="total_installed-value"></span>
                            </p>
                            <div class="chart-pf-sparkline" id="total_installed-container">Loading...</div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div><!-- /row -->
    {/}

    {#scripts}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/4.1.7/highcharts.js"></script>
    <script>
        var promiseCache = {};
        function fetchAndUpdateContent(tabId) {
            if (!promiseCache[tabId]) {
                // Create a new promise if it doesn't exist in the cache
                promiseCache[tabId] = fetchData(tabId)
                    .then(function (data) {
                        // Update the tab content with the fetched data
                        renderChart(tabId, data);
                    })
            }
        }

        function toPoint(data) {
            return [
                new Date(data.time).getTime(),
                data.installs? data.installs : data.total_installed
            ];
        }

        
        $(document).ready(async function () {
            Highcharts.setOptions({
                global: {
                    useUTC: true
                }
            });
            // Event handler for tab clicks
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var tab = e.target.getAttribute('data-tab');
                fetchAndUpdateContent(tab);
            });

            // Fetch and update the content for the active tab when the page loads
            var activeTab = $('.nav-tabs .active a').data('tab');
            fetchAndUpdateContent(activeTab);
        });

        function renderChart(tabId, series) {
            var title = $(tabId).attr('data-title')
            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: tabId+"-container",
                    //type: 'spline',
                    zoomType: 'x',
                    resetZoomButton: {
                        position: {
                            align: 'left',
                            verticalAlign: 'top', // by default
                            x: 10,
                            y: 10
                        },
                        relativeTo: 'chart'
                    },
                    animation: Highcharts.svg, // don't animate in old IE
                    marginRight: 10,
                },
                title: {
                    text: title//'redhat.java installations'
                },
                xAxis: {
                    type: 'datetime'//,
                },
                yAxis: {
                    title: {
                        text: title
                    },
                    floor: 0,
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                legend: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                plotOptions: {
                    area: {
                        fillColor: {
                            linearGradient: {
                                x1: 0,
                                y1: 0,
                                x2: 0,
                                y2: 1
                            },
                            stops: [
                                [0, Highcharts.getOptions().colors[0]],
                                [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                            ]
                        },
                        marker: {
                            radius: 2
                        },
                        lineWidth: 1,
                        states: {
                            hover: {
                                lineWidth: 1
                            }
                        },
                        threshold: null
                    }
                },
                series: series
            });
        }

        async function fetchData(tabId) {
            var start = Date.now();
            var response = await fetch('/stats/{extension.name}?stats=time&stats='+tabId);
            var versions = JSON.parse(await response.text());
            var i = 0;
            var data = null;
            var point = null;
            var latest = null;
            var series = [];
            var startVersion = 0;
            var stopVersion = 0;
            var elapsedVersion = 0;
            for (var l = versions.length; i < l; i++) {
                startVersion = Date.now();
                var version = versions[i];
                data = [];
                for (var z = version.events.length, j = 0; j < z; j++) {
                    point = toPoint(version.events[j]);
                    data.push(point);
                    if (latest == null || latest[0] < point[0]) {
                        latest = point;
                    }
                }
                var serie = {
                    name: version._id,
                    data: data
                }
                series.push(serie);
                stopVersion = Date.now();
                elapsedVersion = stopVersion - startVersion;
                //chart.redraw();
                console.log("Loaded " + serie.name + " in "+elapsedVersion+"ms");
            }
            if (latest !== null) {
                var label = $("#"+tabId).attr("data-title")
                $("#"+tabId+"-value").html(format(latest[1])+" "+label);
            }
            var elapsed = new Date().getTime() - start;
            console.log("Loaded " + i + " data points for "+tabId+" in " + elapsed + "ms");
            return series;
        }

        function format(value) {
            return value.toLocaleString(
                undefined, // use a string like 'en-US' to override browser locale
            );
        }
    </script>
    {/}
{/}